body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: linear-gradient(120deg, #2980b9, #8e44ad);
}

.container {
  font-family: 'Poppins', sans-serif;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.btn {
  font-family: 'Poppins', sans-serif;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.item-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.item-buttons button {
  font-family: 'Poppins', sans-serif;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  min-width: 120px;
}

.question-bank-buttons, .question-items-buttons {
  display: none;
}

.centered-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.quiz-container {
  text-align: center;
}

.next-button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.result-container {
  text-align: center;
}

.result-container h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.result-container p {
  font-size: 18px;
  margin-bottom: 10px;
}

.result-container .btn {
  margin-top: 20px;
  background-color: #28a745;
}

.result-container .btn:hover {
  background-color: #218838;
}

/* Add this to center the elements inside the quiz container */
.quiz-container {
  text-align: center;
}

/* Add some margin to separate from the options */
.next-button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

/* Center the buttons and text vertically */
.question-bank-buttons,
.question-items-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Center the elements inside the start container */
.start-container {
  text-align: center;
}
